body {
  background-color: getColor("white");
  color: getColor("title");
  font-family: $base-font;
  letter-spacing: 0.03em;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  margin: 0px;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $min-width-mobile) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: $min-width-tablet) {
    width: 768px;
  }

  @media screen and (min-width: $min-width-desktop) {
    width: 1200px;
  }
}

.pictblock {
  display: block;
  max-width: 100%;
}

.section {
  padding: 60px 0;

  @media (min-width: $min-width-desktop) {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 94px 0;
  }
}
