.features-list {
  @extend %list;
  @media (min-width: $min-width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $min-width-desktop) {
    margin-bottom: 94px;
    display: flex;
    align-items: center;
  }
}

.features-list__container {
  @extend %flex-centered;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: $font-weight-bold;
  line-height: 1.14;
  font-size: 14px;

  text-transform: uppercase;
}
.features-list__text {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor("primary-text");
}
.features-list__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
