.logo {
  color: getColor("black");
  font-family: $logo-font;
  font-weight: $font-weight-bold;
  font-size: 26px;
  letter-spacing: 0.03em;

  line-height: 1.17;
  text-decoration: none;

  @media (max-width: $max-width-mobile) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media (min-width: $min-width-desktop) {
    font-size: 26px;
    margin-right: 93px;
  }
}

@media (max-width: $max-width-tablet) {
  .page-header__logo {
    margin-right: 88px;
  }
}

// .page-header__logo {
//   margin-right: 93px;
// }
.logo__text {
  color: getColor("accent");
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: getColor("white");
}
